.plannersPage {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.plannerList {
    list-style-type: none;
    padding: 0;
}

.plannerCard {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plannerDetails {
    flex: 1;
    display: flex;
}

.plannerDetails a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.buttonDelete {
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.buttonCreate {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.buttonCreate:hover {
    background: #0160c5;
}

.buttonCreate.disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

.loading {
    text-align: center;
    font-size: 18px;
}