.plannersPage {
    display: flex;
    flex-direction: column;

}

.plannersPage h1 {
    text-align: center;
    text-decoration: underline;
}

.plannersPage ul {
    padding: 20px 20px;
    background: #ece9e8;
    border-radius: 25px;
    margin: 10px;
}

.plannerList {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
}

.plannerList a {
    text-decoration: none;
    color: black;
    flex-grow: 1;
    background-color: #c8b5a9;
    text-align: center;
    margin: 0 10px;
    padding: 6px 14px;
    border-radius: 6px;
}

.plannerList a:hover {
    background-color: #ae9e93;
}

.plannersPage button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
}

.buttonCreate {
    background: #D5BDAF;
    color: black;
    width: 75%;
    align-self:  center;
    justify-self: center;
}

.buttonCreate:hover {
    background: #a59287;
}

.buttonDelete {
    background: #c00;
    color: white;
    margin: auto;
}

.buttonDelete:hover {
    background: rgb(147, 1, 1);
}

/* DESKTOP VIEW *******************************************************************************************/
@media (min-width: 1280px) {
    .plannersPage {
        margin: auto;
        max-width: 800px;
    }

    .plannerList a {
        margin: 0 50px;
    }
}