:root {
    --columns-count: 8;
}

.plannerGrid {
    display: grid;
    grid-template-columns: repeat(var(--columns-count), 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.gridHeader {
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.courseGrid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-column: 1/2;
    padding: 5px;
}

.dayHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayName {
    font-weight: bold;
    margin-bottom: 5px;
}

.dayDate {
    font-size: 0.8em;
}

.courseCode {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
}

.courseDetails {
    padding: 5px;
}

.courseDetails > div {
    margin: 5px 0;
}

.gridCell {
    border: 1px solid #ddd;
    padding: 10px;
    position: relative; /* To position the button inside the cell */
}

.addButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #ccc; /* Grey background */
    color: #333; /* Darker text color */
    border: none;
    width: 30px; /* Square button */
    height: 30px; /* Square button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addButton:hover {
    background-color: #aaa; /* Slightly darker grey on hover */
}

.contentWrapper {
    position: relative; /* For positioning the remove button */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contentWrapper p {
    margin: 0 5px;
}

.removeButton {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #f00; /* Red background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.removeButton:hover {
    background-color: #c00; /* Darker red on hover */
}

.completed {
    text-decoration: line-through;
}

/* Hide/Show Button *********************/
.plannerGrid.showDetails {
    grid-template-columns: repeat(var(--columns-count), 1fr);
}

.plannerGrid.hideDetails {
    grid-template-columns: 50px repeat(calc(var(--columns-count) - 1), 1fr);
}

.courseDetails.show {
    display: block;
}

.courseDetails.hide {
    display: none;
}