:root {
    --columns-count: 8;
}

.plannerGrid {
    display: grid;
    grid-template-columns: repeat(var(--columns-count), 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 10px;
}

.gridHeader {
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.courseGrid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-column: 1/2;
    padding: 5px;
}

.dayHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayName {
    font-weight: bold;
    margin-bottom: 5px;
}

.dayDate {
    font-size: 0.8em;
}

.courseRow {
    grid-column: 1/7;
    display: grid;
}

.courseCode {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
}

.courseDetails {
    padding: 5px;
}

.courseDetails > div {
    margin: 5px 0;
}

.gridCell {
    border: 1px solid #ddd;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
    margin: 0px 5px;
}

.gridCellButtons {
    display: flex;
}

.addButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #ccc; /* Grey background */
    color: #333; /* Darker text color */
    border: none;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px 4px;
}

.addButton:hover {
    background-color: #aaa; /* Slightly darker grey on hover */
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
}

.contentWrapper p {
    margin: 0 5px;
}

.checkbox {
    margin-right: 5px;
}

.contentInput {
    flex-grow: 1;
    margin-right: 5px;
}

.editButton {
    background-color: grey;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    margin-left: 5px;
    font-size: 0.8em;
}

.editButton:hover {
    background-color: rgb(90, 90, 90);
}

.removeButton {
    background-color: #f00; /* Red background */
    color: #fff; /* White text color */
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.removeButton:hover {
    background-color: #c00; /* Darker red on hover */
}

.completed {
    background-color: #c5c5c5;
}

.completed .taskText {
    text-decoration: line-through;
    color: #888;
}

/* Hide/Show Button *********************/
.plannerGrid.showDetails {
    grid-template-columns: repeat(var(--columns-count), 1fr);
}

.plannerGrid.hideDetails {
    grid-template-columns: 60px repeat(calc(var(--columns-count) - 1), 1fr);
}

.courseDetails.show {
    display: block;
}

.courseDetails.hide {
    display: none;
}

.courseRow.showDetails {
    grid-template-columns: repeat(var(--columns-count), 1fr);
}

.courseRow.hideDetails {
    grid-template-columns: 60px repeat(calc(var(--columns-count) - 1), 1fr);
}