.plannerForm {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.class-section {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    color: black;
}

fieldset {
    border: none;
    margin: 10px 0;
}

legend {
    font-weight: bold;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Buttons **********************/
button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonAdd {
    background-color: rgb(190, 190, 190);
}

.buttonAdd:hover {
    background-color: rgb(148, 148, 148);
}

.buttonSave {
    background-color: rgb(115, 203, 115);
}

.buttonSave:hover {
    background-color: rgb(91, 163, 91);
}

.buttonCancel {
    background-color: rgb(241, 113, 113);
}

.buttonCancel:hover {
    background-color: rgb(193, 93, 93);
}

/* DESKTOP VIEW *******************************************************************************************/
@media (min-width: 1280px) {

}