.plannerNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-bg-color-light);
    font-family: sans-serif;
    position: relative;
}

.dropdown-toggle {
    display: block;
    padding: 10px;
    background-color: var(--secondary-bg-color-light);
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.dropdown-arrow {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--secondary-bg-color-light);
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu a.active {
    background-color: #D4A69E;
    font-weight: bold;
}

/* DESKTOP VIEW *******************************************************************************************/
@media (min-width: 1280px) {
    .plannerNav {
        flex-direction: row;
        align-items: center;
    }

    .dropdown-menu {
        flex: 1;
        justify-content: space-around;
    }

    .dropdown-toggle {
        display: none;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
    }

    .dropdown-menu a {
        padding: 10px;
        text-align: center;
        display: block;
    }

    .dropdown-menu a:hover {
        background-color: #d2b4ae;
    }
}

/* DARK MODE *******************************************************************************************/
.dark-mode .plannerNav {
    background-color: var(--secondary-bg-color-dark);
}

.dark-mode .plannerNav button {
    color: white;
}

.dark-mode .dropdown-toggle {
    background-color: var(--secondary-bg-color-dark);
}

.dark-mode .dropdown-menu {
    background-color: var(--secondary-bg-color-dark);
}


.dark-mode .dropdown-menu a {
    color: white;
}

.dark-mode .dropdown-menu a.active {
    background-color: #888;
}

@media (min-width: 1280px) {
    .dark-mode .dropdown-menu a:hover {
        background-color: #777;
    }
}